body {
    background-image: url("../img/pixel-art-cheeseburger-seamless-background.jpg");
    font-family: 'Sriracha', cursive;

}

.container-fluid {
    width: 90% !important;
}
/* Middle Image */
#patty {
    height: 40vh;
    margin-bottom: 3em;
    padding: 0.5em;
    background: black;
}
/* Input */
.burgerInput {
    font-size: 1.1em;
    padding: 0.4em;
    margin: 1em;
    border: 1px solid black;
}

/* Welcome to Joseph's Burgers */
.burgerTitle {
    font-size: 4em;
    padding: 0.5em;
    background: lightgreen !important;
    border-radius: 0.5em !important;
    margin: 0.2em;
    border: 5px solid black;
}

/* Data Burgers */
.burgerName {
    font-size: 2em;
}
.burgerEaten {
    font-size: 2em;
}
.burgerSection {
    background: gainsboro;
    border: 5px solid blue;
    overflow: scroll;
    height: 50vh;
}

/* Data Title */
.titleTop {
    /* ADD CUSTOM FONT */
    font-size: 3em;
    text-align: center;
}

/* Buttons */
.burgerButton, .burgerSubmit {
    font-size: 1.3em;
    border-radius: 0.2em;
    background: lightgoldenrodyellow;
}
.burgerButton:hover, .burgerSubmit:hover {
    box-shadow: 2px 2px royalblue;
    animation: pulse 0.8s infinite forwards;
    transition: all 0.2s;
}
.bottomSection {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    background: lightgreen;
    border-top: 2px solid blue;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}
.bottomSection1 {
    width: 40%;
    margin: auto;
    background: lightgreen;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}

/* Burger Special */
.specialBack {
    background: lightgreen;
    border-radius: 0.5em;
    border: 3px solid black;
}
/* Animation */

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }