body {
    background-image: url("../img/pixel-art-cheeseburger-seamless-background.jpg");
}

.container-fluid {
    width: 90% !important;
}
/* Middle Image */
#patty {
    height: 40vh;
    margin-bottom: 3em;
    padding: 0.5em;
    background: black;
}
/* Input */
.burgerInput {
    font-size: 1.1em;
    padding: 0.4em;
    margin: 1em;
    border: 1px solid black;
}

/* Welcome to Joseph's Burgers */
.burgerTitle {
    font-size: 4em;
    padding: 0.5em;
    background: gainsboro;
    margin: 0.2em;
}

/* Data Burgers */
.burgerName {
    font-size: 2em;
}
.burgerEaten {
    font-size: 2em;
}
.burgerSection {
    background: gainsboro;
    border: 5px solid blue;
    overflow: scroll;
    height: 50vh;
}

/* Data Title */
.titleTop {
    /* ADD CUSTOM FONT */
    font-size: 3em;
    text-align: center;
}

/* Buttons */
.burgerButton, .burgerSubmit {
    font-size: 1.3em;
    border-radius: 0.2em;
    background: lightgoldenrodyellow;
}
.burgerButton:hover, .burgerSubmit:hover {
    box-shadow: 2px 2px royalblue;
    animation: pulse 0.8s infinite forwards;
    transition: all 0.2s;
}
.bottomSection {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    background: gainsboro;
    border: 2px solid blue;
}
.bottomSection1 {
    width: 40%;
    margin: auto;
    background: gainsboro;
    border: 2px solid blue;
}

/* Burger Special */
.specialBack {
    background: lightgreen;
    border-radius: 0.5em;
}
/* Animation */

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}